<div class="card">
    <div class="card-body container">
        <div class="row">
            <div class="col">
                Đường dây nóng: 0389 xxx 878 <br>
                Email: footballleague@gmail.com <br>
                <a href="#">Giới thiệu về chúng tôi</a>
            </div>
            <div class="col">
                <b>Kết nối với chúng tôi</b><br>
                <a href="https://youtube.com" target="_blank"><img src=".././images/youtube.png" class="connect-icon"/> </a>
                <a href="https://facebook.com" target="_blank"><img src=".././images/facebook.png" class="connect-icon"/> </a>
                <a href="https://www.instagram.com" target="_blank"><img src=".././images/instagram.png" class="connect-icon"/></a>
                <a href="https://twitter.com" target="_blank"><img src=".././images/twitter.png" class="connect-icon"/> </a>
            </div>
        </div>
    </div>
</div>