<div class="header">
    <nav class="navbar navbar-light bg-light justify-content-end">
        <img class="logo" src="images/logo.png"/>
        <form class="form-inline header-width">
            <button onclick="location.href='/'" class="btn btn-outline-success btn-header" type="button">Trang chủ</button>
            <button onclick="location.href='login'" class="btn btn-outline-success btn-header" type="button">Đăng nhập</button>
            <button onclick="location.href='register'" class="btn btn-outline-success btn-header" type="button">Đăng ký</button>
            <button href="#" class="btn btn-outline-success btn-header" type="button">Bảng xếp hạng</button>
            <button href="#" class="btn btn-outline-success btn-header" type="button">Vua phá lưới</button>
            <button href="#" class="btn btn-outline-success btn-user" type="button"><img src="images/icon-person.png"/></button>
        </form>
    </nav>
</div>