<ul class="nav flex-column nav-menu">
    <li>
        <h2>Menu</h2>
    </li>
    <li class="nav-item">
        <button id="tournament_list" onclick="location.href='/tournament_list'" class="btn btn-outline-primary btn-menu" type="button">
            Danh sách giải đấu</button>
    </li>
    <li class="nav-item">
        <button id="tournament_create" onclick="location.href='/login'" class="btn btn-outline-primary btn-menu" type="button">Tạo
            Giải Đấu Mới</button>
    </li>
    <li class="nav-item">
        <button id="tournament_management" onclick="location.href='/login'" class="btn btn-outline-primary btn-menu" type="button">Quản lý giải đấu</button>
    </li>
</ul>