<ul class="nav flex-column nav-menu">
    <li>
        <h2>Menu</h2>
    </li>
    <li class="nav-item">
        <button href="#" class="btn btn-outline-primary btn-menu" type="button">Tạo giải đấu mới</button>
    </li>
    <li class="nav-item">
        <button href="#" class="btn btn-outline-primary btn-menu" type="button">Quản lý giải đấu</button>
    </li>
</ul>