<!DOCTYPE html>
<html>

<head>
    <title><%= title%></title>
    <% include elements/head_tag.html%>
    <script src="/javascripts/read-excel-file.min.js"></script>
    <style>
        #Progress_Status {
            width: 100%;
            background-color: #ddd;
        }

        #myprogressBar {
            width: 2%;
            height: 20px;
            background-color: #4CAF50;
        }
    </style>
</head>

<body onload="update();loadUserName()">
<%include elements/header.ejs%>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <%include elements/menu.ejs%>
        </div>
        <div class="col-lg-7">
            <div id="Progress_Status">
                <div id="myprogressBar"></div>
            </div>
            <script>
                function update() {
                    var element = document.getElementById("myprogressBar");
                    var width = 1;
                    var identity = setInterval(scene, 30);
                    function scene() {
                        if (width >= 100) {
                            clearInterval(identity);
                            document.getElementById("notify").hidden=false;
                        } else {
                            width++;
                            element.style.width = width + '%';
                        }
                    }
                }
            </script>
            <div class="row justify-content-center" id="notify" hidden><h2>Phát sinh lịch đấu thành công</h2></div>
            <br>
            <form>
                <div class="form-group row text-sm-center justify-content-center">
                    <div class="col-sm-10">
                        <button id="createButton" type="button" class="btn btn-primary" onclick="location.href='/tournament_management'" Disable>Quản lý giải đấu</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%include elements/footer.html%>
</body>

</html>